<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JSON整形</title>
	<link href="../js/yui_2.5.2/build/logger/assets/logger.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
body {
	font-family: Verdana;
	font-size: 90%;
	padding: 10px;
}
h1 {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
	margin: 0.5em 0.2em;
}

p#explanation {
	width: 90%;
	margin: 1em auto;
	padding: 0.5em;
	border: 1px solid #006600;
	background-color: #F0FFF0;
	color: #006600;
}

form {
	text-align: center;
}

textarea {
	width: 90%;
	height: 10em;
	margin: 1em auto;
	text-align: left;
	font-size: 85%;
}

input#action-button {
	text-align: center;
	padding: 0.2em 4em;
}

pre#code {
/*	white-space: pre;*/
	border: 1px solid #ccc;
	background-color: #f0f0f0;
	width: 90%;
	margin: 1em auto;
	padding: 0.5em;
	text-align: left;
	font-family: mono, monospace;
}
	</style>
	<!-- <script language="JavaScript" type="text/javascript" src="../js/yui_2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script> -->
	<script language="JavaScript" type="text/javascript" src="../js/yui_2.5.2/build/logger/logger-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>

	<script language="JavaScript" type="text/javascript">
//<![CDATA[

//escape関数
String.prototype.escape = function()
{
	var str = this;
	str = str.replace(/&/g, "&amp;");
	str = str.replace(/</g, "&lt;");
	str = str.replace(/>/g, "&gt;");
	str = str.replace(/"/g, "&quot;");
	str = str.replace(/'/g, "&#039;");
	str = str.replace(/\\/g, "&yen;");
	return str;
};
//指定した回数分連結
String.prototype.times = function(count){
	var result = '', str = this;

	for (var i = 0 ; i < count ; i++)
	{
		result += str;
	}

	return result;
};

//画面ロード時の処理
YAHOO.util.Event.onDOMReady(function(){
	//YUIロガー（画面下に表示）
	var div = document.createElement("div");
	div.style.width = "50em";
	var myContainer = document.body.appendChild(div);
	var myLogReader = new YAHOO.widget.LogReader(myContainer);
	//フォーマットをカスタマイズ
	myLogReader.formatMsg = function(oLogMsg)
	{
		var category = oLogMsg.category;
		var t = oLogMsg.time;
		var his = '';
		his += (t.getHours() < 10) ? '0' + t.getHours() : t.getHours();
		his += ':';
		his += (t.getMinutes() < 10) ? '0' + t.getMinutes() : t.getMinutes();
		his += ':';
		his += (t.getSeconds() < 10) ? '0' + t.getSeconds() : t.getSeconds();
		return "<p><span class='"+category+"'>"+category+"</span> "+ his + " " + oLogMsg.msg + "</p>";
	};

	//Firebugのコンソール対応
	if ("object" === typeof window.console)
	{
		YAHOO.widget.Logger.enableBrowserConsole();
	}

	//整形ボタンクリック時の処理
	YAHOO.util.Event.addListener('action-button', 'click', function(){
		try{
			var data = eval('(' + document.getElementById('contents').value + ')');

//			document.getElementById('code').innerHTML = (function(data, count){
			var result = (function(data, count){
				//一時的に文字列を格納する配列
				var list = [];

				//タブ
				var tab = "    ".times(count);
				var tab2 = "    ".times(count - 1);

				//改行コード
				var nl = "\r\n";

				//配列の場合
				if (YAHOO.lang.isArray(data))
				{
					YAHOO.log("配列");

					for (var i = 0 ; i < data.length ; i++)
					{
						//配列またはオブジェクトの場合
						if (YAHOO.lang.isArray(data[i]) || YAHOO.lang.isObject(data[i]))
						{
							//再帰呼び出し
							list[list.length] = arguments.callee(data[i], count+1);
						}
						else
						{
							list[list.length] = (data[i] + "").escape();
						}
					}

					return "[" + nl + tab + list.join(nl + tab + ",") + nl + tab2 + "]";
				}
				//オブジェクトの場合
				else
				{
					YAHOO.log("オブジェクト");

					for (var i in data)
					{
						//配列またはオブジェクトの場合
						if (YAHOO.lang.isArray(data[i]) || YAHOO.lang.isObject(data[i]))
						{
							//再帰呼び出し
							list[list.length] = (i + "").escape() + ": " + arguments.callee(data[i], count+1);
						}
						else
						{
							//末尾に型もつけとく
							list[list.length] = (i + "").escape() + ": " + (data[i] + "").escape() + " (" + typeof data[i] + ")";
						}
					}

					return "{" + nl + tab + list.join(nl + tab + ",") + nl + tab2 + "}";
				}
			})(data, 1);

			var code_node = document.getElementById('code');

			//削除
			for (var i = code_node.childNodes.length - 1 ; 0 <= i ; i--)
			{
				code_node.removeChild(code_node.childNodes[i]);
			}

			//追加
			var node = document.createTextNode(result);
			document.getElementById('code').appendChild(node);

			//注）innerHTMLでテキストを設定しようとすると、なぜかIEの場合のみ
			//pre扱いされずに１行でテキストが表示されてしまう
		}
		catch(e){
			alert('パースに失敗しました：' + e);
		}
	});
});
//]]>
	</script>
</head>
<body>
	<h1>JSON整形</h1>

	<p id="explanation">
		JSON形式の文字列を貼り付けて実行すると整形した結果が表示されます。
	</p>

	<form name="sample" method="post" action="json_formatter.html">
		<textarea rows="10" cols="60" id="contents"></textarea>

		<input type="button" id="action-button" value="整形" />

		<pre id="code">（ここに結果が表示されます）</pre>
	</form>
</body>
</html>
